###############################################################################
# Editor                                                                      #
###############################################################################
# JetBrains (Webstorm, IntelliJ IDEA, ...)
.idea/
*.iml

###############################################################################
# Temporary files                                                             #
###############################################################################
*.log
!tests/*.log
*.tmp
tmp/
logs/

###############################################################################
# Other                                                                       #
###############################################################################
# Runtime data
pids
*.pid
*.seed
